@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="mb-5 mt-4">
        <h1 class="display-3">efcoreApp</h1>
        <h5 class="display-6"> Uygulamasına Hoş Geldiniz</h5>
    </div>
    <p>Öğrenciler kısmından öğrencileri listeleyebilir. Öğrenci ekleye bilirsiniz.</p>
    <p>Kurslar kısmından Kursları listeleyebilir. Kurslar ekleye bilirsiniz.</p>
    <p>KursKayit kısmından belirtmiş istediğiniz öğrencileri kurslara kayıt edebilirsiniz.</p>
</div>
