@model Ogretmen

<p>
   <b>@Model.Ad @Model.SoyAd </b> isimli öğretmeni silmek istiyor musunuz?
   <form asp-action="Delete" method="post">
    <input type="hidden" name="id" value="@Model.OgretmenId">
    <button type="submit" class="btn btn-danger">Sil</button>
    <a asp-action="Index" class="btn btn-primary">Vazgeç</a>
   </form>
</p>